<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="PATTERN" value="%date [%-5p] [%F:%L] - %m%n"></property>
    <property name="PATTERN-INF"
              value="%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) |-%-5level [%thread] %c [%L] -| %msg%n"></property>

    <springProperty scope="context" name="project-name" source="spring.application.name"/>
    <springProperty scope="context" name="filePath" source="log.file.path"/>
    <springProperty scope="context" name="fileMaxHistory" source="log.file.max-history" defaultValue="180"/>
    <springProperty scope="context" name="fileMaxSize" source="log.file.max-size" defaultValue="64MB"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--<Encoding>UTF-8</Encoding>-->
        <File>${filePath}/${project-name}/default.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${filePath}/${project-name}/default-%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <MaxHistory>${fileMaxHistory}</MaxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>${fileMaxSize}</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${PATTERN}</pattern>
        </layout>
    </appender>

    <appender name="error-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${filePath}/${project-name}/default-error.log</File>
        <encoder>
            <Pattern>%date [%-5p] [%F:%L] - %m%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${filePath}/${project-name}/default-error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>${fileMaxHistory}</maxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${fileMaxSize}</maxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <!-- 日志级别 -->
    <root level="info">
        <appender-ref ref="file"/>
        <appender-ref ref="error-file"/>
        <appender-ref ref="console"/>
    </root>

    <logger name="com.wq" level="info" additivity="false">
        <appender-ref ref="file"/>
        <appender-ref ref="console"/>
    </logger>
</configuration>